
.content{
    margin: auto;
    padding: 32px 0;
    font-family: 'Roboto', sans-serif;
}
.code-toolbar{
    width: 65vw;
}
.note{
    color: rgb(255, 0, 0);
    font-size:22px ;
}
.in_p_note{
    color: rgb(255, 0, 0);
    font-size:1.2em ;
}
.content ul li{
    list-style-type: disc;
}